<div>
    <button mat-button>Click me!</button>
    <button mat-raised-button>Click me!</button>
    <button mat-flat-button>Click me!</button>
    <button mat-stoked-button>Click me!</button>
</div>

<div>
    <button mat-icon-button>Click me!</button>
    <button mat-fab>Click me!</button>
    <button mat-mini-fab>Click me!</button>
</div>

<div>
    <button color="primary" mat-button>primary Click me!</button>
    <button color="accent" mat-button>accent Click me!</button>
    <button color="warn" mat-button>warn Click me!</button>
    <button color="warn" disableRipple mat-button>warn Click me!</button>

    <button color="primary" mat-raised-button>primary Click me!</button>
    <button color="accent" mat-raised-button>accent Click me!</button>
    <button color="warn" mat-raised-button>warn Click me!</button>
</div>

<div><h2>Toggle Button</h2></div>

<div>
    <mat-button-toggle>Toggle</mat-button-toggle>
</div>